<h2>Create a New</h2>

<form (ngSubmit)="onSubmit()">
<div class="container">    
    <div class="row">
        <div class="col-sm-12">
            <label for="title">Title:</label>
            <input class="form-control" type="text" id="title" [(ngModel)]="newPost.title" name="title" required />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label for="body">Body:</label>
            <textarea class="form-control" id="body" [(ngModel)]="newPost.body" name="body" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-sm btn-primary pull-right" type="submit">Submit</button>
        </div>
    </div>
</div>

</form>