<div class="homework-page">
    <h1>Welcome to the Homework Page!</h1>
    <p>This is where you will find your homework assignments and other resources.</p>
  
    <h2>Homework Assignments</h2>
    <ul>
      <li><a routerLink="/home-work1">HW 1 - Currency Exchnage Custom format</a></li>
      <li><a routerLink="/home-work2">HW 2 - Simple Data Transfer</a></li>
      <li><a routerLink="/home-work3">HW 3 - Observable</a></li>
    </ul>
  
    <p>If you need any help, feel free to ask your teacher!</p>
  </div>